// Viewport
$extra-small: 375px;
$small: 576px;
$medium: 768px;
$large: 992px;
$extra-large: 1200px;
$extra-extra-large: 1440px;

// Fonts
$main-fonts: 'Rubik', 'Arial', sans-serif;
$secondary-fonts: 'Raleway', 'Arial', sans-serif;

// Color
$main-color: #ffe17f;
$secondary-color: #f0f0f0;
$footer-color: #444444;

// Styles
$main-focus: 3px solid #af4fff;
